html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: black url('./assets/img/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    overflow-x: hidden;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-img-top {
    object-fit: cover;
    /* Faz com que a imagem cubra o espaço do card sem distorcer */
}

.card-body {
    display: flex;
    flex-direction: column;
}